#account {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  background: #f1f5f9;
  height: 100%;
  overflow: auto;
}

#account * {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
#account .avatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
#account .icon {
  width: 20.8px;
  height: 20.8px;
}

#account > aside {
  padding: 10px 20px;
  /* height: 100vh; */
  overflow-y: auto;
  width: 200px;
  background: white;
}
#account > aside > .profile {
  display: flex;
  align-items: center;
  height: 100px;
}
#account > aside > .profile .profile_ne {
}

#account > aside .side_links > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}
#account > aside .side_links > span * {
  margin-right: 10px;
}
#account > aside .side_links > span b {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
#account .main_container {
  box-sizing: border-box;
  flex: 1;
}
#account .main_container h3 {
  font-size: 17px;
  font-weight: bold;
}
#account .main_container > header {
  box-sizing: border-box;
  background: white;
  padding: 10px;
  height: 120px;
}
#account .main_container > header > nav {
  margin: 0px;
}
#account .main_container > header > nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}
#account .main_container > header > nav ul li {
  margin: 5px;
}
#account .main_container > header > nav ul li a {
  opacity: 0.7;
}
#account .main_container > header > nav ul li a:hover {
  opacity: 1;
}
#account .main_container > header > nav ul li a.active {
  opacity: 1;
  padding-bottom: 3px;
  border-bottom: 3px solid blue;
}
#account .main_container > article {
  width: 640px;
  margin: 50px auto;
}

#account #menu {
  width: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: none;
}
#account #menu:hover {
  background: #f1f5f9;
  border-radius: 5px;
}
#account #cancel {
  position: absolute;
  width: 30px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#account #cancel:active {
  padding: 3px;
}
@media (max-width: 900px) {
  #account .main_container > article {
    width: 80%;
  }
}
@media (max-width: 700px) {
  #account #menu,
  #account #cancel {
    display: block;
  }
  #account .menu {
    /*making the aside element display on click*/
    display: block;
  }

  #account > aside {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: none;
  }
  #account > .main_container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  #account > aside {
    width: 50%;
  }
}
@media (max-width: 400px) {
  #account > aside {
    width: 70%;
  }
}
@media (max-width: 300px) {
  #account > aside {
    width: 85%;
  }
  #account .main_container > article {
    width: 100%;
  }
}
@media (min-height: 600px) {
}
