html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.search_input {
  background-image: url('https://img.icons8.com/stencil/32/null/experimental-search-stencil.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}

.search_input:focus {
  background-image: none;
}

@media only screen and (max-width: 1199px) {
  .land-image-slider {
    height: 80vh;
    object-fit: cover;
  }
}
